[% PROCESS lib/html_top %]
[% PROCESS lib/header %]
[% WRAPPER lib/main %]

[% PROCESS run/when %]

[% IF nominating == 0 %]
<form method="post" action="">
  <fieldset>
    <legend>Slogan</legend>
    <input name="short" size="80" maxlength="64" value="[% short | html %]"/>
  </fieldset>
  <fieldset>
    <legend>Statement</legend>
    <textarea name="long" cols="80" rows="24">[% long | html %]</textarea>
  </fieldset>
  <div>
    <span class="help"><a href="http://search.cpan.org/~chromatic/Text-WikiFormat-0.79/lib/Text/WikiFormat.pm#Wiki_Format">WikiFormat syntax</a></span>
    <input type="submit" name="submit" value="Update my statement!"/>
    <input type="submit" name="cancel" value="No, I'm fine."/>
    <input type="reset" value="Undo"/>
  </div>
</form>
[% END %]

[% END %]
[% PROCESS lib/footer %]
[% PROCESS lib/html_bottom %]
