[% WRAPPER lib/html_top %]
<script type="text/javascript">
  var total;
  var votebutton;

  function setTotal(n) {
    total.innerHTML = new Number(n).toString();
    if (n > [% max_votes ? max_votes : 0 %]) {
      total.style.color = "red";
      votebutton.disabled = true;
    } else {
      if (n == [% max_votes ? max_votes : 0 %])
        total.style.color = "green";
      else
        total.style.color = "orange";
      votebutton.disabled = false;
    }
  }

  function updateTotal() {
    var inputs = document.getElementsByTagName("input");
    var n = 0;
    for (var i = 0; i < inputs.length; i++) {
      if (inputs[i].checked == true)
	n++;
    }
    setTotal(n);
  }

  function initTotal() {
    total = document.getElementById("total");
    votebutton = document.getElementById("votebutton");
    updateTotal();
    document.getElementById("totalrow").style.visibility = "visible";
  }
</script>
[% END %]
[% PROCESS lib/header %]
[% WRAPPER lib/main %]

[% PROCESS vote/when %]

[% IF !user.active %]
<p>You are not qualified to vote in the election.  If you believe this is incorrect, please contact the election administrator.</p>
[% ELSIF voting == 0 %]
  [% IF candidates.count == 0 %]
  <p>There are no candidates to vote for.</p>
  [% ELSE %]
  <p>You may vote for up to [% max_votes %] candidates from the list below.  You can modify your vote at any time until voting closes (see the <a href="[% c.uri_for('/') | html %]#schedule">schedule</a> on the front page).</p>
  [% IF vote_ok.defined %]
  <div class="info">
    <p class="message">Your vote was registered.  You may change it at any time until voting closes.</p>
  </div>
  [% END %]
  [% IF error.defined %]
  <div class="error">
    <p class="error">[% error | html %]</p>
  </div>
  [% END %]
  <form method="POST" action="" onreset="setTotal([% voted_for.keys.size %])">
    <table class="vote">
      [% WHILE (candidate = candidates.next) %]
      [% login = candidate.login %]
      <tr>
	<td class="votebox"><input type="checkbox" name="vote_for_[% login %]" id="vote_for_[% login %]"[% IF voted_for.$login %] checked="checked"[% END %] onclick="updateTotal()"/></td>
	<td><label for="vote_for_[% login %]">[% candidate.name | html %][% IF candidate.incumbent %] (incumbent)[% END %]:</label></td>
	<td><a href="[% c.uri_for('/see/candidate', login) | html %]">[% candidate.statement.short | html %]</a></td>
      </tr>
      [% END %]
      <tr id="totalrow" style="visibility: collapse">
	<td style="text-align: center;" class="votebox" id="total">X</td>
	<td colspan="2">votes cast</td>
      </tr>
      <tr>
	<td colspan="3">
	  <p>
	    <input type="reset" name="reset" value="Reset"/>
	    <input type="submit" name="vote" id="votebutton" value="Vote!"/>
	  </p>
	</td>
      </tr>
    </table>
  </form>
  [% END %]
[% END %]

[% END %]
[% PROCESS lib/footer %]
[% PROCESS lib/html_bottom %]
