#
# Tinderbox defaults
#
# $FreeBSD$
#

comment		= ${branch} tinderbox

# Paths
sandbox		= ${HOME}

# Tinderbox options
options		= --verbose
targets		= precleanobj, update, world, lint, kernels, postcleanobj
#timeout	= 7200

# Reporting
sender		= FreeBSD Tinderbox <tinderbox@freebsd.org>
recipient	= ${SENDER}
subject		= [${COMMENT}] failure on ${arch}/${machine}
urlbase		= http://tinderbox.des.no/
