#
# FreeBSD 7 tinderbox setup, shared source - update stage
#
# $FreeBSD$
#

branches	 = RELENG_7
platforms	 = none
srcdir		 = ${SANDBOX}/${BRANCH}/src
targets		 = update, version
recipient	+= <stable@freebsd.org>
subject		= [${COMMENT}] source tree update failure
